@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .bg-clip-text {
    background-clip: text;
    -webkit-background-clip: text;
  }

  .text-gradient {
    @apply bg-gradient-to-b from-[#A669EF] to-[#341087] bg-clip-text text-transparent; 
  }
}

@keyframes up-down {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(-20px); }
}

@keyframes down-up {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(20px); }
}

.animate-up-down {
  animation: up-down 3s ease-in-out infinite;
}

.animate-down-up {
  animation: down-up 3s ease-in-out infinite;
}

